<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Dream Tourism</title>
  </head>
  <body>
    <p>Dear Customer,</p>
    <p>
      Thank you for reaching out to Dream Tourism! Your inquiry is<br />
      important to us, and our dedicated team is already at work to<br />
      provide you with the information you need. Expect a prompt<br />
      response that will help you take the next steps toward your dream<br />getaway.
      <br />
      In the meantime, feel free to explore our website and discover the<br />
      incredible destinations and experiences we offer. We are here to<br />
      make your travel dreams a reality.
    </p>
    <p>Best regards,</p>
    <p>
      Dream Tourism<br />
      Customer Support Team.
    </p>
  </body>
</html>
